.nitro-chat-input-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 55px;
    border-radius: 7px;
    background-color: rgba(24, 24, 24, 0.6);
    border: 1px #363636 solid;
    width: 100%;
    overflow: hidden;
    margin-top: -11px;
    width: 470px;

    .nitro-chat-bubble-icon-container {
        width: 50px;
        height: 100%;
        text-align: center;
        padding-top: 18px;
    }

    .nitro-chat-microphone-container {
        margin-top: 2px;
        width: 25px;
        text-align: center;
        padding-left: 9px;
    }

    .nitro-chat-send-container {
        width: 50px;
        background-color: var(--colors-secondary);
        height: 100%;
        text-align: center;
        padding-top: 18px;
        margin-left: 18px;
    }

    .nitro-chat-avatar-icon-container {
        width: 59px;
        height: 59px;
    }

    .nitro-chat-input-control {
        font-size: 14px;
        margin-left: 5px;
        margin-top: 3px;
        outline: none;
        background: transparent;
        border-color: transparent;
        color: white;
        -webkit-box-shadow: none;
        width: 261px;
        box-shadow: none;
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        position: absolute;
        bottom: 70px;
        left: calc(100% / 3);
        width: 200px;
    }


    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;

        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }

        &::after {
            content: attr(data-value) '  ';
            visibility: hidden;
            white-space: pre-wrap;
        }
    }

    .bubble-container {
        visibility: visible;
        width: 75%;
    }
}

.nitro-tooltip-bg{
    border: 0px !important;
    background-color: rgb(0,0,0) !important;
}

.nitro-chat-style-selector-container {
    width: $chat-input-style-selector-widget-width;
    max-height: $chat-input-style-selector-widget-height;
    border: 0px !important;

    .content-area {
        max-height: $chat-input-style-selector-widget-height  !important;
    }

    .bubble-parent-container {
        height: 30px;

        .bubble-container {
            position: relative;
            width: 50px;
        }
    }
}

.nitro-chat-sticker-selector-container {
    width: $chat-input-sticker-selector-widget-width;
    max-height: $chat-input-sticker-selector-widget-height;

    .content-area {
        max-height: $chat-input-sticker-selector-widget-height  !important;
    }

    .bubble-parent-container {
        height: 30px;

        .bubble-container {
            position: relative;
            width: 50px;
        }
    }
}

.avatar-chat-position {
	position: absolute;
	top: -19px;
	width: 45px;
	height: 65px;
}

.nitro-pointer-chat {
    cursor: pointer;
}