.youtube-player-card{
    width: 901px;
    height: 475px;
}

.youtube-search-video-card{
    padding: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    margin-left: 2px !important;
}

.youtube-search-video-title{
    font-size: 15px;
    font-weight: bold;
}

.youtube-player-hidden{
    visibility: hidden;
    position: absolute;
}
