@font-face {
    font-family: "Ubuntu";
    src: url(/src/assets/webfonts/Ubuntu.woff2) format("woff2")
}

@font-face {
    font-family: "Ubuntu";
    src: url(/src/assets/webfonts/UbuntuBold.woff2) format("woff2");
    font-weight: 700
}
